@font-face {
    font-family: "Global";
    src: url("Global.ttf") format("truetype");
}

* {
    font-family: "Global";
    text-align: center;
}

body {
    background-color: #ededed;
}

.statusMessage {
    display: block;
    margin: 10px;
}

.statusMessage--success {
    color: green;
}

.statusMessage--error {
    color: red;
}
